p {
    color: aqua;
}
h1 {
    background-color: antiquewhite;
}
h2 {
    background: #e30707;
}
h3 {
    background: yellowgreen;
}
button :hover{
    color: wheat;
    background-color: yellowgreen;
    font-style: italic;

}